/*
---------------------------------------------
our facts
---------------------------------------------
*/

section.our-facts {
    background-image: url(../../../Assets/Other/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0px 125px 0px;
    margin: 5rem 0rem;
  }
  
  section.our-facts  h2{
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    margin: 0%;
    letter-spacing: 0.5px;
    text-align: center;
  }
  section.our-facts p{
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0%;
    margin-bottom: 50px;
  }
 
  .count-area-content {
    text-align: center;
    background-color: rgba(250,250,250,0.15);
    border-radius: 20px;
    padding: 25px 30px 35px 30px;
    margin: 15px 0px;
  }
  
  .percentage .count-digit:after {
    content: '%';
    margin-left: 3px;
  }
  
  .count-digit {
      margin: 5px 0px;
      color: #f5a425;
      font-weight: 700;
      font-size: 36px;
  }
  .count-title {
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 0.5px;
  }
  
  .new-students {
    margin-top: 45px;
  }
  
  section.our-facts .video {
    text-align: center;
    margin-left: 70px;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
  }
  
  section.our-facts .video img {
    padding: 170px 0px;
    max-width: 56px;
  }
  .emoji{
    font-size: 2.5rem;
  }