.description {
    text-align: center;
    color: white;
    padding-top: 10%;

}

.banner-btn {
    background-color: #CAD5E2;
    color: black;
    padding: 10px 19px;
    border-radius: 10px;
    font-weight: 700;
    border: none;
}

/* --------------------------------------------
        Responsive for mobile device
-------------------------------------------- */

@media only screen and (max-width: 600px) {
    .description h3{
      font-size: small;
      margin: 0%;
    }
    .description p{
        font-size: xx-small;
        margin: 0%;
    }
    .banner-btn {
        font-size: 0.5rem;
        margin: 0%;
        padding: 0.1rem 0.5rem;
    }
    
  }