.student-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-right: 5px;
}
.student-info{
    display: flex;
 
}
.review{
    color: rgb(139, 134, 134);
    font-size: small;
}
.review-section{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 15px;
}


/*-----------------------------------
 Services Responsive for tab device 
 ------------------------------------*/
 @media only screen and (max-width: 600px) {
    .review-main h4{
        font-size: small;
    }
}