.comment-title{
    text-align: center;
    color: #f3a11e;
    margin: 1rem 0rem;
  }
  .addreview {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .submit-button {
    background-color: #f3a11d;
  }